{
  "openapi": "3.0.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "servers": [
    {
      "url": "http:\/\/api.phpsx.org"
    }
  ],
  "paths": {
    "\/foo": {
      "get": {
        "description": "Returns a collection",
        "operationId": "fooGetCollection",
        "responses": {
          "200": {
            "description": "GET 200 response",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/Collection"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "fooPostItem",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/Item"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "POST 201 response",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/Message"
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "\/bar\/{foo}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "barFooGetCollection",
        "responses": {
          "200": {
            "description": "GET 200 response",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/Collection"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "barFooPostItem",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/Item"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "POST 201 response",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/Message"
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "\/bar\/{year}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "barYear09GetCollection",
        "responses": {
          "200": {
            "description": "GET 200 response",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/Collection"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "barYear09PostItem",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/Item"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "POST 201 response",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/Message"
                }
              }
            }
          }
        }
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Item": {
        "type": "object",
        "title": "item",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "title",
          "date"
        ]
      },
      "Collection": {
        "type": "object",
        "title": "collection",
        "properties": {
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#\/components\/schemas\/Item"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "title": "message",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}