{
  "swagger": "2.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "host": "api.phpsx.org",
  "basePath": "\/",
  "schemes": [
    "http"
  ],
  "paths": {
    "\/foo": {
      "get": {
        "description": "Returns a collection",
        "operationId": "fooGetCollection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "GET 200 response",
            "schema": {
              "$ref": "#\/definitions\/Collection"
            }
          }
        }
      },
      "post": {
        "operationId": "fooPostItem",
        "parameters": [
          {
            "description": "POST request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "POST 201 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "parameters": []
    },
    "\/bar\/{foo}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "barFooGetCollection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "GET 200 response",
            "schema": {
              "$ref": "#\/definitions\/Collection"
            }
          }
        }
      },
      "post": {
        "operationId": "barFooPostItem",
        "parameters": [
          {
            "description": "POST request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "POST 201 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "parameters": []
    },
    "\/bar\/{year}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "barYear09GetCollection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "GET 200 response",
            "schema": {
              "$ref": "#\/definitions\/Collection"
            }
          }
        }
      },
      "post": {
        "operationId": "barYear09PostItem",
        "parameters": [
          {
            "description": "POST request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "POST 201 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "parameters": []
    }
  },
  "definitions": {
    "Item": {
      "type": "object",
      "title": "item",
      "properties": {
        "id": {
          "type": "integer"
        },
        "userId": {
          "type": "integer"
        },
        "title": {
          "type": "string",
          "pattern": "[A-z]+",
          "minLength": 3,
          "maxLength": 16
        },
        "date": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "title",
        "date"
      ]
    },
    "Collection": {
      "type": "object",
      "title": "collection",
      "properties": {
        "entry": {
          "type": "array",
          "items": {
            "$ref": "#\/definitions\/Item"
          }
        }
      }
    },
    "Message": {
      "type": "object",
      "title": "message",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
