{
  "swagger": "2.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "host": "api.phpsx.org",
  "basePath": "\/",
  "schemes": [
    "http"
  ],
  "paths": {
    "\/foo\/{name}\/{type}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "getCollection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "GET 200 response",
            "schema": {
              "$ref": "#\/definitions\/Collection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "foo"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    }
  },
  "definitions": {
    "Item": {
      "type": "object",
      "title": "item",
      "properties": {
        "id": {
          "type": "integer"
        },
        "userId": {
          "type": "integer"
        },
        "title": {
          "type": "string",
          "pattern": "[A-z]+",
          "minLength": 3,
          "maxLength": 16
        },
        "date": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Collection": {
      "type": "object",
      "title": "collection",
      "properties": {
        "entry": {
          "type": "array",
          "items": {
            "$ref": "#\/definitions\/Item"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "scopes": {
        "foo": "Foo sope",
        "bar": "Bar scope"
      },
      "authorizationUrl": "http:\/\/api.phpsx.org\/authorization",
      "tokenUrl": "http:\/\/api.phpsx.org\/token"
    }
  }
}
