{
  "openapi": "3.0.0",
  "info": {
    "title": "Sample Pet Store App",
    "description": "This is a sample server for a pet store.",
    "termsOfService": "http:\/\/example.com\/terms\/",
    "contact": {
      "name": "API Support",
      "url": "http:\/\/www.example.com\/support",
      "email": "support@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https:\/\/www.apache.org\/licenses\/LICENSE-2.0.html"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "http:\/\/api.phpsx.org"
    }
  ],
  "paths": {
    "\/foo\/{name}\/{type}": {
      "get": {
        "tags": [
          "foo"
        ],
        "description": "Returns a collection",
        "operationId": "get",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryOrMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryOrMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "foo"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "EntryMessage": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "EntryOrMessage": {
        "oneOf": [
          {
            "$ref": "#\/components\/schemas\/Entry"
          },
          {
            "$ref": "#\/components\/schemas\/EntryMessage"
          }
        ]
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "http:\/\/api.phpsx.org\/authorization",
            "tokenUrl": "http:\/\/api.phpsx.org\/token",
            "scopes": {
              "foo": "Foo sope",
              "bar": "Bar scope"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "foo",
      "description": "Foo tag"
    },
    {
      "name": "bar",
      "description": "Boo tag"
    }
  ]
}