{
  "openapi": "3.0.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "servers": [
    {
      "url": "http:\/\/api.phpsx.org"
    }
  ],
  "paths": {
    "\/foo": {
      "get": {
        "tags": [
          "foo"
        ],
        "description": "Returns a collection",
        "operationId": "foo.get",
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "foo"
        ],
        "operationId": "foo.create",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "\/bar\/{foo}": {
      "get": {
        "tags": [
          "bar"
        ],
        "description": "Returns a collection",
        "operationId": "bar.get",
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "bar"
        ],
        "operationId": "bar.create",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "foo",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "\/bar\/{year}": {
      "get": {
        "tags": [
          "baz"
        ],
        "description": "Returns a collection",
        "operationId": "baz.get",
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "baz"
        ],
        "operationId": "baz.create",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "year",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "EntryCollection": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#\/components\/schemas\/Entry"
            }
          }
        }
      },
      "EntryCreate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "title",
          "date"
        ]
      },
      "EntryMessage": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}