{
  "openapi": "3.1.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "servers": [
    {
      "url": "http:\/\/api.phpsx.org"
    }
  ],
  "paths": {
    "\/foo\/{name}\/{type}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "get",
        "parameters": [
          {
            "name": "startIndex",
            "in": "query",
            "description": "startIndex parameter",
            "required": true,
            "schema": {
              "description": "startIndex parameter",
              "type": "integer",
              "minimum": 0,
              "maximum": 32
            }
          },
          {
            "name": "float",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boolean",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "name": "datetime",
            "in": "query",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryCollection"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          },
          "400": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          },
          "500": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch",
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/EntryPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "EntryCollection": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#\/components\/schemas\/Entry"
            }
          }
        }
      },
      "EntryCreate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "title",
          "date"
        ]
      },
      "EntryDelete": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "EntryMessage": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "EntryPatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "EntryUpdate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "pattern": "[A-z]+",
            "minLength": 3,
            "maxLength": 16
          },
          "date": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      }
    }
  }
}