{
  "openapi": "3.0.3",
  "info": {
    "title": "Sample Pet Store App",
    "description": "This is a sample server for a pet store.",
    "termsOfService": "http://example.com/terms/",
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "http://api.phpsx.org"
    }
  ],
  "paths": {
    "/foo": {
      "get": {
        "tags": [
          "foo"
        ],
        "description": "Returns a collection",
        "operationId": "foo.bar.get",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "foo"
        ],
        "operationId": "foo.bar.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/bar/{foo}": {
      "get": {
        "tags": [
          "bar"
        ],
        "description": "Returns a collection",
        "operationId": "bar.find",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "bar"
        ],
        "operationId": "bar.put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "foo",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/bar/{year}": {
      "get": {
        "tags": [
          "baz"
        ],
        "description": "Returns a collection",
        "operationId": "foo.baz.get",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "baz"
        ],
        "operationId": "foo.baz.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "year",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EntryCollection": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entry"
            }
          }
        }
      },
      "EntryCreate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EntryMessage": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "http://api.phpsx.org/authorization",
            "tokenUrl": "http://api.phpsx.org/token",
            "scopes": {
              "foo": "Foo sope",
              "bar": "Bar scope"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "foo",
      "description": "Foo tag"
    },
    {
      "name": "bar",
      "description": "Boo tag"
    }
  ]
}