{
  "swagger": "2.0",
  "info": {
    "title": "Sample Pet Store App",
    "version": "1",
    "contact": {
      "name": "API Support",
      "url": "http:\/\/www.example.com\/support",
      "email": "support@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https:\/\/www.apache.org\/licenses\/LICENSE-2.0.html"
    }
  },
  "host": "api.phpsx.org",
  "basePath": "\/",
  "schemes": [
    "http"
  ],
  "paths": {
    "\/foo\/{name}\/{type}": {
      "post": {
        "tags": [
          "foo"
        ],
        "description": "Returns a collection",
        "operationId": "postEntryOrMessage",
        "parameters": [
          {
            "description": "POST request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/EntryOrMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "POST 200 response",
            "schema": {
              "$ref": "#\/definitions\/EntryOrMessage"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "foo"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    }
  },
  "definitions": {
    "Item": {
      "type": "object",
      "title": "item",
      "properties": {
        "id": {
          "type": "integer"
        },
        "userId": {
          "type": "integer"
        },
        "title": {
          "type": "string",
          "pattern": "[A-z]+",
          "minLength": 3,
          "maxLength": 16
        },
        "date": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Message": {
      "type": "object",
      "title": "message",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "EntryOrMessage": {
      "title": "EntryOrMessage",
      "oneOf": [
        {
          "$ref": "#\/definitions\/Item"
        },
        {
          "$ref": "#\/definitions\/Message"
        }
      ]
    }
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "scopes": {
        "foo": "Foo sope",
        "bar": "Bar scope"
      },
      "authorizationUrl": "http:\/\/api.phpsx.org\/authorization",
      "tokenUrl": "http:\/\/api.phpsx.org\/token"
    }
  },
  "tags": [
    {
      "name": "foo",
      "description": "Foo tag"
    },
    {
      "name": "bar",
      "description": "Boo tag"
    }
  ]
}