{
  "swagger": "2.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "host": "api.phpsx.org",
  "basePath": "\/",
  "schemes": [
    "http"
  ],
  "paths": {
    "\/foo\/{name}\/{type}": {
      "get": {
        "description": "Returns a collection",
        "operationId": "getCollection",
        "parameters": [
          {
            "description": "startIndex parameter",
            "name": "startIndex",
            "in": "query",
            "required": true,
            "type": "integer",
            "maximum": 32,
            "minimum": 0
          },
          {
            "name": "float",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "boolean",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "datetime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "GET 200 response",
            "schema": {
              "$ref": "#\/definitions\/Collection"
            }
          }
        }
      },
      "put": {
        "operationId": "putItem",
        "parameters": [
          {
            "description": "PUT request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PUT 200 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "post": {
        "operationId": "postItem",
        "parameters": [
          {
            "description": "POST request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "POST 201 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteItem",
        "parameters": [
          {
            "description": "DELETE request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE 200 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "patch": {
        "operationId": "patchItem",
        "parameters": [
          {
            "description": "PATCH request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PATCH 200 response",
            "schema": {
              "$ref": "#\/definitions\/Message"
            }
          }
        }
      },
      "parameters": [
        {
          "description": "Name parameter",
          "name": "name",
          "in": "path",
          "required": true,
          "type": "string",
          "maxLength": 16,
          "minLength": 0,
          "pattern": "[A-z]+"
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "type": "string",
          "enum": [
            "foo",
            "bar"
          ]
        }
      ]
    }
  },
  "definitions": {
    "Item": {
      "type": "object",
      "title": "item",
      "properties": {
        "id": {
          "type": "integer"
        },
        "userId": {
          "type": "integer"
        },
        "title": {
          "type": "string",
          "pattern": "[A-z]+",
          "minLength": 3,
          "maxLength": 16
        },
        "date": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id"
      ]
    },
    "Collection": {
      "type": "object",
      "title": "collection",
      "properties": {
        "entry": {
          "type": "array",
          "items": {
            "$ref": "#\/definitions\/Item"
          }
        }
      }
    },
    "Message": {
      "type": "object",
      "title": "message",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
