{
  "swagger": "2.0",
  "info": {
    "title": "PSX",
    "version": "1"
  },
  "host": "api.phpsx.org",
  "basePath": "\/",
  "schemes": [
    "http"
  ],
  "paths": {
    "\/pets": {
      "get": {
        "description": "List all pets",
        "operationId": "listPets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "GET 200 response",
            "schema": {
              "$ref": "#\/definitions\/Pets"
            }
          },
          "500": {
            "description": "GET 500 response",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        }
      },
      "post": {
        "description": "Create a pet",
        "operationId": "createPets",
        "parameters": [
          {
            "description": "POST request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Pet"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "POST 500 response",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        }
      },
      "parameters": []
    }
  },
  "definitions": {
    "Pet": {
      "title": "Pet",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "Pets": {
      "title": "Pets",
      "properties": {
        "pets": {
          "type": "array",
          "items": {
            "$ref": "#\/definitions\/Pet"
          }
        }
      }
    },
    "Error": {
      "title": "Error",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ]
    }
  }
}
