{
  "openapi": "3.1.0",
  "info": {
    "description": "### EOSIO Contract API\n*Made with ♥️ by [pink.gg](https://pink.gg/)*\n#### Current Chain: wax-mainnet\n#### Provided by: [Zeptagram](https://zeptagram.com)",
    "version": "1.2.12",
    "title": "EOSIO Contract API"
  },
  "servers": [
    {
      "url": "https://wmnft.zeptagram.com"
    },
    {
      "url": "http://wmnft.zeptagram.com"
    }
  ],
  "tags": [
    {
      "name": "assets",
      "description": "Assets"
    },
    {
      "name": "assets",
      "description": "Assets"
    },
    {
      "name": "collections",
      "description": "Collections"
    },
    {
      "name": "schemas",
      "description": "Schemas"
    },
    {
      "name": "templates",
      "description": "Templates"
    },
    {
      "name": "offers",
      "description": "Offers"
    },
    {
      "name": "transfers",
      "description": "Transfers"
    },
    {
      "name": "accounts",
      "description": "Accounts"
    },
    {
      "name": "burns",
      "description": "Burns"
    },
    {
      "name": "config",
      "description": "Config"
    },
    {
      "name": "sales",
      "description": "Sales"
    },
    {
      "name": "auctions",
      "description": "Auctions"
    },
    {
      "name": "buyoffers",
      "description": "Buyoffers"
    },
    {
      "name": "marketplaces",
      "description": "Marketplaces"
    },
    {
      "name": "pricing",
      "description": "Pricing"
    },
    {
      "name": "stats",
      "description": "Stats"
    },
    {
      "name": "config",
      "description": "Config"
    },
    {
      "name": "assets",
      "description": "Assets"
    },
    {
      "name": "assets",
      "description": "Assets"
    },
    {
      "name": "transfers",
      "description": "Transfers"
    },
    {
      "name": "offers",
      "description": "Offers"
    },
    {
      "name": "links",
      "description": "Share Links"
    },
    {
      "name": "config",
      "description": "Config"
    }
  ],
  "paths": {
    "/atomicassets/v1/assets": {
      "get": {
        "tags": [
          "assets"
        ],
        "summary": "Fetch assets.",
        "description": "You can filter the result by specific asset / template data fields.You can add for example &template_data.rarity=common to only receive results which have an attribute \"rarity\" with the value \"common\". You can query specific asset data by using &immutable_data.rarity=common or &mutable_data.rarity=common .If you want to query a non text type you need to specify it explicitly (defaults to text type) like data:bool.foil=true or data:number.id=4 or data:text.rarity=common. Integers which are defined greater than 32 bit (eg 64 bit) in the schema need to be queried as text.",
        "parameters": [
          {
            "name": "collection_name",
            "in": "query",
            "description": "Filter by collection name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "Filter by schema name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "Filter by template id",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "is_transferable",
            "in": "query",
            "description": "Filter for transferable assets",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_burnable",
            "in": "query",
            "description": "Filter for burnable assets",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "burned",
            "in": "query",
            "description": "Filter for burned assets",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filter by owner",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "burned",
            "in": "query",
            "description": "Filter by burned",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Search for input in asset name on template data",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match_immutable_name",
            "in": "query",
            "description": "Search for input in asset name on asset immutable data",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match_mutable_name",
            "in": "query",
            "description": "Search for input in asset name on asset mutable data",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_transferable",
            "in": "query",
            "description": "Check if asset is transferable",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_burnable",
            "in": "query",
            "description": "Check if asset is burnable",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "only_duplicate_templates",
            "in": "query",
            "description": "Show only duplicate assets grouped by template",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_backed_tokens",
            "in": "query",
            "description": "Show only assets that are backed by a token",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "authorized_account",
            "in": "query",
            "description": "Filter for assets the provided account can edit. ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_whitelist",
            "in": "query",
            "description": "Filter for multiple template ids split by \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_blacklist",
            "in": "query",
            "description": "Dont include specific template ids split by \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_templates_by_accounts",
            "in": "query",
            "description": "Dont templates that are owned by an account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_offers",
            "in": "query",
            "description": "Hide assets which are used in an offer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show results before this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show results after this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Column to sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asset_id",
                "minted",
                "updated",
                "transferred",
                "template_mint",
                "name"
              ],
              "default": "asset_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/assets/{asset_id}": {
      "get": {
        "tags": [
          "assets"
        ],
        "summary": "Fetch asset by id",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "416": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/assets/{asset_id}/stats": {
      "get": {
        "tags": [
          "assets"
        ],
        "summary": "Fetch asset stats",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "template_mint": {
                          "type": "integer"
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/assets/{asset_id}/logs": {
      "get": {
        "tags": [
          "assets"
        ],
        "summary": "Fetch asset logs",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "action_whitelist",
            "in": "query",
            "description": "Action whitelist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_blacklist",
            "in": "query",
            "description": "Action blacklist",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Log"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/collections": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Fetch collections",
        "parameters": [
          {
            "name": "author",
            "in": "query",
            "description": "Get collections by author",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Search for input in collection name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorized_account",
            "in": "query",
            "description": "Filter for collections which the provided account can use to create assets",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notify_account",
            "in": "query",
            "description": "Filter for collections where the provided account is notified",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show results before this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show results after this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Column to sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "collection_name"
              ],
              "default": "created"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/collections/{collection_name}": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Find collection by its name",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Collection"
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "416": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/collections/{collection_name}/stats": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Get stats about collection",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "assets": {
                          "type": "string"
                        },
                        "burned": {
                          "type": "string"
                        },
                        "templates": {
                          "type": "string"
                        },
                        "schemas": {
                          "type": "string"
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/collections/{collection_name}/logs": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Fetch collection logs",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "action_whitelist",
            "in": "query",
            "description": "Action whitelist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_blacklist",
            "in": "query",
            "description": "Action blacklist",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Log"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/schemas": {
      "get": {
        "tags": [
          "schemas"
        ],
        "summary": "Fetch schemas",
        "parameters": [
          {
            "name": "collection_name",
            "in": "query",
            "description": "Get all schemas within the collection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorized_account",
            "in": "query",
            "description": "Filter for schemas the provided account can edit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "Schema name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Search for input in schema name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show results before this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show results after this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Column to sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "schema_name"
              ],
              "default": "created"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Schema"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/schemas/{collection_name}/{schema_name}": {
      "get": {
        "tags": [
          "schemas"
        ],
        "summary": "Find schema by schema_name",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Collection name of schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "path",
            "description": "Name of schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Schema"
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "416": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/schemas/{collection_name}/{schema_name}/stats": {
      "get": {
        "tags": [
          "schemas"
        ],
        "summary": "Get stats about a specific schema",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Collection name of schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "path",
            "description": "Name of schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "assets": {
                          "type": "string"
                        },
                        "burned": {
                          "type": "string"
                        },
                        "templates": {
                          "type": "string"
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/schemas/{collection_name}/{schema_name}/logs": {
      "get": {
        "tags": [
          "schemas"
        ],
        "summary": "Fetch schema logs",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Collection name of schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "path",
            "description": "Name of schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "action_whitelist",
            "in": "query",
            "description": "Action whitelist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_blacklist",
            "in": "query",
            "description": "Action blacklist",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Log"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/templates": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "Fetch templates.",
        "description": "You can filter the result by specific asset / template data fields.You can add for example &template_data.rarity=common to only receive results which have an attribute \"rarity\" with the value \"common\". You can query specific asset data by using &immutable_data.rarity=common or &mutable_data.rarity=common .If you want to query a non text type you need to specify it explicitly (defaults to text type) like data:bool.foil=true or data:number.id=4 or data:text.rarity=common. Integers which are defined greater than 32 bit (eg 64 bit) in the schema need to be queried as text.",
        "parameters": [
          {
            "name": "collection_name",
            "in": "query",
            "description": "Get all templates within the collection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "Get all templates which implement that schema",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issued_supply",
            "in": "query",
            "description": "Filter by issued supply",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "min_issued_supply",
            "in": "query",
            "description": "Filter by issued supply",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_issued_supply",
            "in": "query",
            "description": "Filter by issued supply",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "has_assets",
            "in": "query",
            "description": "Only show templates with existing supply > 0",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "max_supply",
            "in": "query",
            "description": "Filter by max supply",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "is_burnable",
            "in": "query",
            "description": "Filter by burnable",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_transferable",
            "in": "query",
            "description": "Filter by transferable",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "authorized_account",
            "in": "query",
            "description": "Filter for templates the provided account can use",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Search for template id or",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show results before this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show results after this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Column to sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created"
              ],
              "default": "created"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/templates/{collection_name}/{template_id}": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "Find template by id",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "ID of template",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "416": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/templates/{collection_name}/{template_id}/stats": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "Get stats about a specific template",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "ID of template",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "assets": {
                          "type": "string"
                        },
                        "burned": {
                          "type": "string"
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/templates/{collection_name}/{template_id}/logs": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "Fetch template logs",
        "parameters": [
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "ID of template",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "action_whitelist",
            "in": "query",
            "description": "Action whitelist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_blacklist",
            "in": "query",
            "description": "Action blacklist",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Log"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/offers": {
      "get": {
        "tags": [
          "offers"
        ],
        "summary": "Fetch offers",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Notified account (can be sender or recipient) - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Offer sender - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Offer recipient - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by Offer State (0: PENDING - Offer created and valid, 1: INVALID - Assets are missing because ownership has changed, 2: UNKNOWN - Offer is not valid anymore, 3: ACCEPTED - Offer was accepted, 4: DECLINED - Offer was declined by recipient, 5: CANCELLED - Offer was canceled by sender) - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_recipient_contract",
            "in": "query",
            "description": "Filter offers where recipient is a contract",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "asset_id",
            "in": "query",
            "description": "only offers which contain this asset_id - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "only offers which contain assets of this template - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "only offers which contain assets of this schema - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_name",
            "in": "query",
            "description": "only offers which contain assets of this collection - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_whitelist",
            "in": "query",
            "description": "Only offers which are sent by one of these accounts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_blacklist",
            "in": "query",
            "description": "Exclude offers which are sent by one of these accounts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender_asset_whitelist",
            "in": "query",
            "description": "Only offers which contain these assets",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender_asset_blacklist",
            "in": "query",
            "description": "Exclude offers which contain these assets",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient_asset_whitelist",
            "in": "query",
            "description": "Only offers which contain these assets",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient_asset_blacklist",
            "in": "query",
            "description": "Exclude offers which contain these assets",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_contracts",
            "in": "query",
            "description": "dont show offers from or to accounts that have code deployed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show results before this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show results after this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Column to sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated"
              ],
              "default": "created"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/offers/{offer_id}": {
      "get": {
        "tags": [
          "offers"
        ],
        "summary": "Find offer by id",
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "description": "ID of offer",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Offer"
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "416": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/offers/{offer_id}/logs": {
      "get": {
        "tags": [
          "offers"
        ],
        "summary": "Fetch offer logs",
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "description": "ID of offer",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "action_whitelist",
            "in": "query",
            "description": "Action whitelist",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_blacklist",
            "in": "query",
            "description": "Action blacklist",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Log"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/transfers": {
      "get": {
        "tags": [
          "transfers"
        ],
        "summary": "Fetch transfers",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Notified account (can be sender or recipient) - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Transfer sender - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Transfer recipient - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "query",
            "description": "only transfers which contain this asset_id - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "only transfers which contain assets of this template - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "only transfers which contain assets of this schema - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_name",
            "in": "query",
            "description": "only transfers which contain assets of this collection - separate multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_contracts",
            "in": "query",
            "description": "dont show transfers from or to accounts that have code deployed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show results before this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show results after this timestamp in milliseconds (value excluded)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Column to sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created"
              ],
              "default": "created"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transfer"
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get accounts which own atomicassets NFTs",
        "parameters": [
          {
            "name": "match",
            "in": "query",
            "description": "Search for partial account name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_name",
            "in": "query",
            "description": "Filter for specific collection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "Filter for specific schema",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "Filter for specific template",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_offers",
            "in": "query",
            "description": "Hide assets which are used in an offer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Result Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per Page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "assets": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/accounts/{account}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get a specific account",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_offers",
            "in": "query",
            "description": "Hide assets which are used in an offer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "collections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "collection": {
                                  "$ref": "#/components/schemas/Collection"
                                },
                                "assets": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "templates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "template_id": {
                                  "type": "string"
                                },
                                "assets": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "assets": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/accounts/{account}/{collection_name}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get templates and schemas count by account",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "Account name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Collection Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "templates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "template_id": {
                                  "type": "string"
                                },
                                "assets": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "schemas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "schema_name": {
                                  "type": "string"
                                },
                                "assets": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "query_time": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/atomicassets/v1/burns": {
      "get": {
        "tags": [
          "burns"
        ],
        "summary": "Get accounts which own atomicassets NFTs",
        "parameters": [
          {
            "name": "collection_name",
            "in": "query",
            "description": "Filter for specific collection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema_name",
            "in": "query",
            "description": "Filter for specific schema",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "Filter for specific template",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_blacklist",
            "in": "query",
            "description": "Hide collections from result. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_whitelist",
            "in": "query",
            "description": "Show only results from specific collections. Split multiple with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "seperate multiple ids with \",\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lower_bound",
            "in": "query",
            "description": "lower bound of primary key (value included)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upper_bound",
            "in": "query",
            "description": "upper bound of primary key (value excluded)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
[...]
